:root {
	--colour-primary: hsl(180, 29%, 50%);
	--colour-light-gray-background: hsl(180, 52%, 96%);
	--colour-light-gray-filter: hsl(180, 31%, 95%);
	--colour-dark-gray-cyan: hsl(180, 8%, 52%);
	--colour-very-dark-gray-cyan: hsl(180, 14%, 20%);
	--colour-white: hsl(100, 100%, 100%);
}
